/* src/styles/prose/base.css */

.prose {
  @apply text-body-16;
  max-width: initial;
  hanging-punctuation: first last;
  color: var(--fg);
  font-feature-settings:
    "ss01" on,
    "ss02" on,
    "kern" on;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prose > :first-child {
  margin-top: 0 !important;
}
.prose > :last-child {
  margin-bottom: 0 !important;
}
