/* src/styles/prose/blockquote.css */
.prose blockquote {
  @apply text-body-18;
  position: relative;
  margin: 2rem 0;
  background: transparent;
  padding: 1.25rem 1.5rem 1.25rem 1rem;
  color: var(--fg-strong);
}

.prose blockquote::before {
  position: absolute;
  inset-block: 1.25rem;
  inset-inline-start: 0;
  border-radius: var(--radius-full);
  background: var(--accent);
  width: 3px;
  content: "";
}

.prose blockquote *:first-child {
  margin-top: 0 !important;
}

.prose blockquote *:last-child {
  margin-bottom: 0 !important;
}

.prose blockquote p {
  color: inherit;
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.prose blockquote p + p {
  margin-top: 1rem;
}

.prose .quote .quote-footer,
.prose blockquote footer {
  @apply text-body-14;
  display: flex;
  margin-top: 1rem;
  color: var(--fg-muted);
  font-style: normal;
  text-align: start;
}

.prose blockquote cite::before {
  padding-right: 0.25rem;
  content: "—";
  color: var(--fg-subtle);
}

.prose figure.quote blockquote::before {
  display: none;
}

.prose .quote {
  display: block;
  position: relative;
  flex-direction: column;
  margin: 2rem 0;
  border: none;
  background: none;
  padding: 0 0.5rem;
  color: var(--fg-strong);
}

.prose .quote-body {
  position: relative;
  margin: 0;
  padding: 0 0.5rem;
  text-align: left;
}

.prose .quote-body p:first-child::before {
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  pointer-events: none;
  content: "“";
  color: var(--fg-subtle);
  font-size: 2rem;
  line-height: 1;
  font-family: var(--font-serif);
}

.prose .quote-body p:last-child::after {
  position: relative;
  top: 0.5rem;
  right: 0;
  pointer-events: none;
  content: "”";
  color: var(--fg-subtle);
  font-size: 2rem;
  line-height: 1;
  font-family: var(--font-serif);
}

@media (min-width: 45rem) {
  .prose .quote,
  .prose blockquote {
    margin: 2.5rem 0;
  }

  .prose blockquote cite,
  .prose blockquote footer {
    @apply text-body-14;
  }
}
