/* src/styles/prose/button.css */

.prose .button {
    @apply text-button-14;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    padding-inline: 0.5rem;
    background: var(--fg-strong);
    color: var(--fg-inverted) !important;
    font-weight: 500 !important;
    border: 1px solid var(--border);
    border-radius: var(--radius-full);
    text-decoration: none !important;
    cursor: pointer;
    vertical-align: baseline;
}

.prose .button.inline-link.is-external::after {
    display: none;
}

.prose .button .button-icon {
    display: inline-block;
    font-size: inherit;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    background-color: currentColor;
    mask: center / contain no-repeat;
    -webkit-mask: center / contain no-repeat;
}

@media (hover: hover) {
  .prose .button:hover {
    background: var(--fg);
  }
}