/* src/styles/prose/button.css */

.prose .button {
  @apply text-button-16;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--border);
  border-radius: var(--radius-full);
  background: var(--fg-strong);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  color: var(--fg-inverted) !important;
  font-weight: 500 !important;
  text-decoration: none !important;
  white-space: nowrap;
}

.prose .button.inline-link.is-external::after {
  display: none;
}

.prose .button .button-icon {
  --icon-size: 1em;
  display: inline-block;
  flex-shrink: 0;
  -webkit-mask: center / contain no-repeat;
  mask: center / contain no-repeat;
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: inherit;
}

@media (hover: hover) {
  .prose .button:hover {
    background: var(--fg);
  }
}
