/* src/styles/prose/card.css */

:root {
  --card-icon-size: 1.75rem;
}

/* Base Card */
.prose .card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.75rem;
  transition: box-shadow var(--duration) var(--ease-out);
  margin: 1.5rem 0;
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  background-color: var(--bg-subtle);
  padding-inline: 1rem;
  padding-block: 0.65rem;
  overflow: hidden;
}

/* Header & Icon */
.prose .card-header {
  display: flex;
  align-items: flex-start;
  gap: 0.65rem;
}

.prose .card-header .card-icon-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-strong);
  border-radius: var(--radius-md);
  background-color: var(--bg-muted);
  width: var(--card-icon-size);
  height: var(--card-icon-size);
}

.prose .card-header .card-icon {
  -webkit-mask: center / contain no-repeat;
  mask: center / contain no-repeat;
  background-color: var(--fg-strong);
  width: 65%;
  height: 65%;
}

.prose .card-header .card-title {
  @apply text-heading-16;
  margin: 0;
  margin-top: calc(
    (
        var(--card-icon-size) -
          (var(--text-heading-16-line-height) * var(--text-heading-16-size))
      ) /
      2
  );
  color: var(--fg-strong);
  font-weight: 500;
}

.prose .card-header .card-title code {
  font-size: 0.9em;
}

/* Body Content */
.prose .card-body {
  @apply text-body-16;
  flex: 1;
  min-width: 0;
  color: var(--fg-muted);
}

.prose .card-body > :first-child {
  margin-top: 0;
}
.prose .card-body > :last-child {
  margin-bottom: 0;
}

.prose .card-body .table-wrapper,
.prose .card-body .code-block {
  margin: 1rem 0;
}

/* Card No Title */
.prose .card.card-no-title {
  flex-direction: row;
  align-items: flex-start;
}

.prose .card.card-no-title .card-header {
  flex-shrink: 0;
  margin-top: calc(
    (
        (var(--text-body-16-line-height) * var(--text-body-16-size)) -
          var(--card-icon-size)
      ) /
      2
  );
}

.prose .card.card-no-title.card-no-icon .card-header {
  display: none;
}

/* Card Link */
.prose .card.card-link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.prose .card.card-link:hover {
  box-shadow: var(--shadow-md);
  border-color: var(--border-strong);
  background-color: var(--bg-muted);
}

.prose .card.card-link:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}
