/* src/styles/prose/details.css */
.prose .accordion {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  background-color: var(--bg-subtle);
  user-select: none;
}

.prose .accordion,
.prose .accordion summary {
  @apply text-heading-16;
  color: var(--fg-strong);
}

.prose .accordion[open] > :not(summary) * {
  @apply-text-body-16;
}

.prose .accordion summary,
.prose .accordion[open] > :not(summary) * {
  padding: 0.5rem 0.75rem;
}
.prose .accordion summary {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 0.75rem;
  cursor: pointer;
  list-style: none !important;
}

.prose .accordion summary::-webkit-details-marker {
  display: none !important;
}

.prose .accordion summary::marker {
  content: none !important;
}

.prose .accordion summary::before {
  display: inline-block;
  flex-shrink: 0;
  mask-image: var(--ic-chevron-right);
  -webkit-mask-image: var(--ic-chevron-right);
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  transition: transform var(--duration) ease-in-out;
  background-color: currentColor;
  width: 1.125em;
  height: 1.125em;
  content: "";
  color: var(--fg-subtle);
}

.prose .accordion[open] summary::before {
  transform: rotate(90deg);
}

.prose .accordion[open] > :not(summary) :first-child {
  margin-top: 0 !important;
}

.prose .accordion[open] > :not(summary) :last-child {
  margin-bottom: 0 !important;
}

.prose .accordion[open] > * + * {
  margin-top: 0.75rem;
}
