/* src/styles/prose/details.css */

.prose .accordion {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  background-color: var(--bg-subtle);
  user-select: none;
  color: var(--fg-strong);
}

.prose .accordion summary {
  @apply text-heading-16;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  list-style: none !important;
  color: var(--fg-strong);
}

.prose .accordion summary::-webkit-details-marker,
.prose .accordion summary::marker {
  display: none !important;
  content: none !important;
}

.prose .accordion summary::before {
  display: inline-block;
  flex-shrink: 0;
  width: 1.125em;
  height: 1.125em;
  content: "";
  background-color: currentColor;
  color: var(--fg-subtle);
  mask: var(--ic-chevron-right) center / contain no-repeat;
  -webkit-mask: var(--ic-chevron-right) center / contain no-repeat;  
  transition: transform var(--duration) ease-in-out;
}

.prose .accordion[open] summary::before {
  transform: rotate(90deg);
}

.prose .accordion[open] > :not(summary) {
  padding: 0.5rem 0.75rem;
}

.prose .accordion[open] > :not(summary) :first-child {
  margin-top: 0 !important;
}

.prose .accordion[open] > :not(summary) :last-child {
  margin-bottom: 0 !important;
}

.prose .accordion[open] > :not(summary) > * {
  @apply text-body-14;
}

.prose .accordion[open] > :not(summary) * + * {
  margin-top: 0.75rem;
}
