/* src/styles/prose/components/filetree.css */

.prose .file-tree {
  --ft-indent: 2rem;
  --ft-line-color: rgb(from var(--border) r g b / 80%);

  display: block !important;
  margin: 2rem 0;
  border: 1px solid var(--border);
  border-radius: var(--radius-md);

  background-color: var(--bg-subtle);
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 100%;

  overflow-x: auto !important;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.prose .file-tree,
.prose .file-tree * {
  @apply text-code-14;
}

.prose .file-tree ul {
  display: block;
  margin: 0;
  padding: 0;
  min-width: max-content;
  list-style: none;
}

.prose .file-tree ul ul {
  margin: 0;
  padding-inline-start: var(--ft-indent) !important;
}

.prose .file-tree *:first-child {
  margin-top: 0;
}
.prose .file-tree *:last-child {
  margin-bottom: 0;
}

.prose .file-tree li {
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding-block: 0.25rem;
}

.prose .file-tree ul ul > li::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc((var(--ft-indent) / -2) + (var(--ft-indent) / 2));
  border-left: 1px solid var(--ft-line-color);
  content: "";
}

.prose .file-tree ul ul > li:last-child::after {
  height: calc(
    0.25rem +
      (((var(--text-code-14-line-height) * var(--text-code-14-size)) - 1px) / 2)
  );
}

/* --- LABEL ROW (Base Styling) --- */
.prose .file-tree .tree-label {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 !important;
  border-radius: var(--radius-sm);
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
  min-width: 100%;
  color: var(--fg);
}

/* --- FOLDER --- */
.prose .file-tree .tree-folder > details > summary {
  display: list-item !important;
  vertical-align: middle;
  cursor: pointer;
  list-style-position: inside !important;
  white-space: nowrap;
}

.prose .file-tree .tree-folder > details[open] > summary {
  list-style-position: inside !important;
}

.prose .file-tree .tree-folder > details > summary span {
  padding-left: 0.25rem;
}

.prose .file-tree .tree-folder > details > summary::marker,
.prose .file-tree .tree-folder > details > summary::-webkit-details-marker {
  transform: translateY(
    calc(((var(--text-code-14-line-height) - 1) * 0.5em) + 1px)
  );
  color: inherit !important;
}

/* --- FILE --- */
.prose .file-tree div.tree-label {
  padding-left: 1.5rem;
}

.prose .file-tree .tree-label span {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: 0.25rem;
  white-space: nowrap;
}

/* --- ICONS --- */
.prose .file-tree span.tree-folder::before,
.prose .file-tree span.tree-file::before {
  display: inline-block;
  flex-shrink: 0;

  mask-image: var(--tree-icon, var(--ic-ft-file));
  -webkit-mask-image: var(--tree-icon, var(--ic-ft-file));
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  margin-right: 0.25rem;
  background-color: currentColor;
  aspect-ratio: 1/1;
  width: 1em;
  height: 1em;
  content: "";
}

/* --- HIGHLIGHT & UTILITIES --- */
.prose .file-tree .tree-label[data-highlight] {
  background-color: color-mix(
    in srgb,
    var(--accent) 10%,
    transparent
  ) !important;
  color: var(--accent) !important;
}

.prose .file-tree .tree-label[data-highlight] span.tree-file::before,
.prose .file-tree .tree-label[data-highlight] span.tree-folder::before {
  background-color: var(--accent) !important;
}

.prose .file-tree .tree-label[data-highlight] span strong {
  color: var(--accent) !important;
  font-weight: 600;
}

.prose .file-tree .tree-label[data-placeholder] {
  opacity: 0.5;
  padding-right: 0 !important;
  color: var(--fg-muted);
}

.prose .file-tree .tree-label[data-placeholder] span.tree-placeholder::before {
  display: none !important;
}

.prose .file-tree .tree-comment {
  margin-left: 0.25rem;
  color: var(--fg-muted);
  font-size: 13px !important;
}
