.sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
	color: var(--sl-color-white);
	line-height: var(--sl-line-height-headings);
}

.sl-markdown-content :is(h1 code, h2 code, h3 code, h4 code, h5 code, h6 code):not(:where(.not-content *)) {
	font-size: inherit;
}

/* Heading */
.sl-markdown-content h1:not(:where(.not-content *)) {
	font-weight: 700;
}
.sl-markdown-content h2:not(:where(.not-content *)) {
	font-weight: 600;
}
.sl-markdown-content h3:not(:where(.not-content *)) {
	font-weight: 500;
}
.sl-markdown-content h4:not(:where(.not-content *)) {
	font-weight: 500;
}
.sl-markdown-content h5:not(:where(.not-content *)) {
	font-weight: 500;
}
.sl-markdown-content h6:not(:where(.not-content *)) {
	font-weight: 500;
}

/* Link */
.sl-markdown-content a:not(:where(.not-content *)) {
	font-weight: 500;
	color: var(--sl-color-white);
	text-decoration-color: var(--sl-color-text-accent);
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}
.sl-markdown-content a:hover:not(:where(.not-content *)) {
	color: var(--sl-color-text-accent);
}

/* Bold */
.sl-markdown-content :is(strong, b):not(:where(.not-content *)) {
	font-weight: 500;
	color: var(--sl-color-white);
}
/* Italic */
.sl-markdown-content :is(em, i):not(:where(.not-content *)) {
	color: var(--sl-color-gray-3);
}

/* List */
.sl-markdown-content :is(ul, ol):not(:where(.not-content *))::marker {
	color: var(--sl-color-gray-4);
}

/* Task List */
.sl-markdown-content input[type="checkbox"]:not(:where(.not-content *)) {
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 0.25rem;
    background-color: transparent;
    display: inline-grid;
    place-content: center;
    margin-inline-end: 0.5rem;
    vertical-align: -0.125em;
    cursor: pointer;
    transition: background-color 0.15s ease, border-color 0.15s ease;
}

.sl-markdown-content input[type="checkbox"]:not(:where(.not-content *)):hover {
    border-color: var(--sl-color-gray-3);
}

.sl-markdown-content input[type="checkbox"]:not(:where(.not-content *)):checked {
    background-color: var(--sl-color-text-accent);
    border-color: var(--sl-color-text-accent);
}

.sl-markdown-content input[type="checkbox"]:not(:where(.not-content *)):checked::before {
    content: "";
    width: 0.55rem;
    height: 0.3rem;
    border-left: 2px solid var(--sl-color-text-invert);
    border-bottom: 2px solid var(--sl-color-text-invert);
    transform: rotate(-45deg) translate(1px, -1px);
}

.sl-markdown-content li:has(> input[type="checkbox"]):not(:where(.not-content *)) {
    list-style-type: none;
    margin-inline-start: -1.25rem;
}

/* Definisi list */
.sl-markdown-content dt:not(:where(.not-content *)) {
	font-weight: 500;
}

/* Code block */
.sl-markdown-content code:not(:where(.not-content *)) {
	background-color: var(--sl-color-bg-inline-code);
	border: 1px solid var(--sl-color-gray-5);
	border-radius: 0.5rem;
	font-size: var(--sl-text-code-sm);
}

.sl-markdown-content pre:not(:where(.not-content *)) {
	border: 1px solid var(--sl-color-gray-5);
	font-size: var(--sl-text-code);
}

/* Blockquote */
.sl-markdown-content blockquote:not(:where(.not-content *)) {
    position: relative;
    border-inline-start: none;
	padding-inline-start: 1.5rem;
	padding-inline-end: 1rem;
	padding-block: 1rem;
}

.sl-markdown-content blockquote:not(:where(.not-content *))::before {
    content: "";
    position: absolute;
    inset-block: 1rem;
    inset-inline-start: 0;
    width: 3px;
    background: var(--sl-color-accent);
    border-radius: 999px;
}

/* Table */
.sl-markdown-content table:not(:where(.not-content *)) {
	display: block;
	width: 100%;
    min-width: max-content;
	overflow: auto;
	border-spacing: 0;
	table-layout: auto;
    border-collapse: separate;
}

.sl-markdown-content :is(thead):not(:where(.not-content *)) {
    background: transparent;
}

.sl-markdown-content :is(thead th):not(:where(.not-content *)) {
    background-color: var(--sl-color-gray-6);
    border-block: 1px solid var(--sl-color-hairline);
    white-space: nowrap;
}

.sl-markdown-content :is(thead tr:first-child th:first-child):not(:where(.not-content *)) {
    border-inline-start: 1px solid var(--sl-color-hairline);
    border-start-start-radius: 0.5rem;
    border-end-start-radius: 0.5rem;
}

.sl-markdown-content :is(thead tr:first-child th:last-child):not(:where(.not-content *)) {
    border-inline-end: 1px solid var(--sl-color-hairline);
    border-start-end-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
}

.sl-markdown-content :is(th, td):not(:where(.not-content *)) {
	border-bottom: none;
	padding: 0;
}

.sl-markdown-content :is(th):not(:where(.not-content *)) {
    color: var(--sl-color-white);
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.sl-markdown-content :is(tbody tr:not(:first-child) td):not(:where(.not-content *)) {
    border-top: 1px solid var(--sl-color-hairline);
}

.sl-markdown-content :is(td):not(:where(.not-content *)) {
    word-break: normal;
    overflow-wrap: anywhere;
    padding: 0.5rem 1rem;
}

.sl-markdown-content :is(td a, td code):not(:where(.not-content *)) {
    white-space: nowrap;
}

@media (hover: hover) {
  .sl-markdown-content :is(tbody tr:hover td):not(:where(.not-content *)) {
    background: var(--sl-color-gray-5);
  }
}

/* Hr */
.sl-markdown-content hr:not(:where(.not-content *)) {
	border-bottom: 1px solid var(--sl-color-hairline);
}

/* Details */
.sl-markdown-content details:not(:where(.not-content *)) {
	--sl-details-border-color: var(--sl-color-gray-5);
	--sl-details-border-color--hover: var(--sl-color-text-accent);

	border-inline-start: 2px solid var(--sl-details-border-color);
}
.sl-markdown-content details:not([open]):hover:not(:where(.not-content *)),
.sl-markdown-content details:has(> summary:hover):not(:where(.not-content *)) {
	border-color: var(--sl-details-border-color--hover);
}
.sl-markdown-content summary:not(:where(.not-content *)) {
	color: var(--sl-color-white);
	font-weight: 500;
}

.sl-markdown-content summary:not(:where(.not-content *))::before {
	--sl-details-marker-size: 1.25rem;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14.8 11.3 10.6 7a1 1 0 1 0-1.4 1.5l3.5 3.5-3.5 3.5a1 1 0 0 0 0 1.4 1 1 0 0 0 .7.3 1 1 0 0 0 .7-.3l4.2-4.2a1 1 0 0 0 0-1.4Z'/%3E%3C/svg%3E%0A");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14.8 11.3 10.6 7a1 1 0 1 0-1.4 1.5l3.5 3.5-3.5 3.5a1 1 0 0 0 0 1.4 1 1 0 0 0 .7.3 1 1 0 0 0 .7-.3l4.2-4.2a1 1 0 0 0 0-1.4Z'/%3E%3C/svg%3E%0A");
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

/* Components */
.sl-markdown-content .starlight-aside :is(th, td, hr, blockquote):not(:where(.not-content *)) {
	border-color: var(--sl-color-gray-4);
}

@supports (border-color: color-mix(in srgb, var(--sl-color-asides-text-accent) 30%, transparent)) {
	.sl-markdown-content .starlight-aside :is(th, td, hr, blockquote):not(:where(.not-content *)) {
		border-color: color-mix(in srgb, var(--sl-color-asides-text-accent) 30%, transparent);
	}
}

@supports (border-color: color-mix(in srgb, var(--sl-color-asides-text-accent) 12%, transparent)) {
	.sl-markdown-content .starlight-aside code:not(:where(.not-content *)) {
		background-color: color-mix(in srgb, var(--sl-color-asides-text-accent) 12%, transparent);
	}
}

.sl-markdown-content .starlight-aside details:not(:where(.not-content *)) {
	--sl-details-border-color: var(--sl-color-asides-border);
	--sl-details-border-color--hover: var(--sl-color-asides-text-accent);
}