/* src/styles/prose/components/media.css */
.prose img,
.prose picture,
.prose video,
.prose iframe,
.prose canvas,
.prose svg :not(code),
.prose .video-wrapper {
  display: block;
  width: 100%;
  height: auto;
}
.prose img,
.prose picture,
.prose figure,
.prose video,
.prose canvas,
.prose .video-wrapper {
  margin: 2.5rem 0;
}
.prose img,
.prose picture,
.prose video,
.prose .video-wrapper {
  background-color: var(--bg-subtle);
  border-radius: var(--radius-lg);
  overflow: hidden;
}
.prose figcaption {
  @apply text-caption-13;
  color: var(--fg-muted);
  text-align: center;
  text-wrap: pretty;
  vertical-align: middle;
}

@media (min-width: 50rem) {
  .prose figcaption {
    @apply text-caption-14;
  }
}
