/* src/styles/prose/components/table.css */

.prose .table-wrapper {
  display: block;   
  width: 100%;  
  min-width: 100%;
  margin: 2.5rem 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.prose .table-wrapper > table {
  display: table;
  /* table-layout: fixed; */  
  width: 100%;
  border-spacing: 0;
}

.prose thead th {
  background: var(--bg-subtle);
}

.prose thead th:first-child {
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
}

.prose thead th:last-child {
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
}

.prose th {
  color: var(--fg-strong);
  font-weight: 600;
}

.prose th:not([align]) {
  text-align: start;
}

.prose th,
.prose td {
  @apply text-numeric-14;
  vertical-align: baseline;
  padding: 0.5rem 1rem;
}

.prose tbody td {
  color: var(--fg);
  background: none;
  border-bottom: 1px solid;
  border-color: var(--border-subtle);
}

.prose tbody tr:last-child td {
  border-bottom: none;
}

.prose td {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.prose td a,
.prose td code {
  white-space: nowrap
}

.prose td code {
  padding: 0.025em 0.2em
}

.prose td a .external-icon {
  width: 1rem;
  height: 1rem
}

.prose td small {
  @apply text-label-14;
  color: var(--fg-subtle)
}

@media (hover: hover) {
 .prose tbody tr:hover {
    background: rgb(from var(--bg-muted) r g b / 80%);
  } 
}