/* src/styles/prose/components/table.css */

.prose .table-wrapper {
  display: block;
  position: relative;
  margin: 2.5rem 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  scrollbar-color: var(--border-subtle) transparent;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
}

.prose .table-wrapper::-webkit-scrollbar {
  height: 6px;
}

.prose .table-wrapper::-webkit-scrollbar-thumb {
  border-radius: var(--radius-full);
  background: var(--border-subtle);
}

.prose .table-wrapper > table {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  min-width: max-content;
  table-layout: auto;
}

.prose thead {
  background: transparent;
}

.prose thead th {
  border-block: 1px solid var(--border);
  background: var(--bg-subtle);
  white-space: nowrap;
}

.prose thead tr:first-child th:first-child {
  border-left: 1px solid var(--border);
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
}

.prose thead tr:first-child th:last-child {
  border-right: 1px solid var(--border);
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
}

.prose th,
.prose td {
  @apply text-numeric-14;
  vertical-align: baseline;
}

.prose th {
  color: var(--fg-strong);
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.prose th:not([align]) {
  text-align: start;
}

.prose tbody td {
  background: none;
  color: var(--fg);
}

.prose tbody tr:not(:first-child) td {
  border-top: 1px solid var(--border);
}

.prose td {
  padding: 0.65rem 1rem;
  word-break: normal;
  overflow-wrap: anywhere;
}

.prose td a,
.prose td code {
  white-space: nowrap;
}

.prose td code {
  padding-inline: 0.25em;
  padding-block: 0.05em;
}

.prose td small {
  @apply text-label-14;
  color: var(--fg-subtle);
}

.prose tbody tr:active td {
  background: var(--bg-muted);
}

@media (hover: hover) {
  .prose tbody tr:hover td {
    background: var(--bg-muted);
  }
}
