/* src/styles/prose/components/table.css */

.prose table {
  display: table;
  overflow: auto;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
  margin: 2.5rem 0;
  /* border-collapse: separate; */
  -webkit-overflow-scrolling: touch;
}

.prose thead th,
.prose thead td {
  background: var(--bg-subtle);
}

.prose th:first-child,
.prose td:first-child :not(tbody > *) {
  border-top-left-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
}

.prose th:last-child,
.prose td:last-child :not(tbody > *) {
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
}

.prose th {
  color: var(--fg-strong);
  font-weight: 600;
}

.prose th:not([align]) {
  text-align: start;
}

.prose th,
.prose td {
  @apply text-numeric-14;
  vertical-align: baseline;
  padding: 0.5rem 1rem;
}

.prose tbody td {
  color: var(--fg);
  background: none;
  border-bottom: 1px solid;
  border-color: var(--border-subtle);
}

.prose tbody tr:last-child td {
  border-bottom: none;
}

.prose tbody tr:hover {
  background: rgb(from var(--bg-muted) r g b / 80%);
}

.prose td {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.prose table td code {
  white-space: pre-wrap;
  word-break: break-all;
}

.prose td a {
  word-break: break-all;
}

.prose td a .external-icon {
  width: 1rem;
  height: 1rem;
}

.prose td small {
  @apply text-label-14;
  color: var(--fg-subtle);
}